**Практика**

In [8]:
library(ISLR)
head(Default)

  default student balance   income
1 No      No       729.5265 44361.625
2 No      Yes      817.1804 12106.135
3 No      No      1073.5492 31767.139
4 No      No       529.2506 35704.494
5 No      No       785.6559 38463.496
6 No      Yes      919.5885  7491.559

# 5

a)

In [10]:
glm(default ~ income + balance, data = Default, family = 'binomial')

Call:  glm(formula = default ~ income + balance, family = "binomial",
    data = Default)

Coefficients:
(Intercept)       income      balance
 -1.154e+01    2.081e-05    5.647e-03

Degrees of Freedom: 9999 Total (i.e. Null);  9997 Residual
Null Deviance:	    2921
Residual Deviance: 1579 	AIC: 1585

b)

In [27]:
set.seed(10)
train = sample(nrow(Default), nrow(Default)/2)

In [72]:
get_mis_tab = function(train){
    glm.fit = glm(
    default ~ income + balance, 
    data = Default, 
    family = 'binomial',
    subset = train
)

    glm.prob = predict(glm.fit, Default, type = 'response')[-train]
    glm.pred = rep("No", length(glm.prob))
    glm.pred[glm.prob > 0.5] = "Yes"

    mis_tab = table(
        glm.pred,
        Default[-train, 'default'],
        dnn = c('predicted', 'real')
    )
    
    return(mis_tab)
}

In [80]:
mis_tab = get_mis_tab(train)
mis_tab

comp_err_mt = function(mis_tab){
    return ((mis_tab[1,2] + mis_tab[2,1])/sum(mis_tab))
}

comp_err_mt(mis_tab)

         real
predicted   No  Yes
      No  4815  125
      Yes   19   41

[1] 0.0288

c)

In [97]:
for (seed in 11:20){
    set.seed(seed)
    train = sample(nrow(Default), nrow(Default)/2)
    mis_tab = get_mis_tab(train)
    
    print(paste('=====seed =', as.character(seed)))
    print(mis_tab)
    print(paste("error", comp_err_mt(mis_tab)))
}

[1] "=====seed = 11"
         real
predicted   No  Yes
      No  4825  107
      Yes   14   54
[1] "error 0.0242"
[1] "=====seed = 12"
         real
predicted   No  Yes
      No  4806  112
      Yes   23   59
[1] "error 0.027"
[1] "=====seed = 13"
         real
predicted   No  Yes
      No  4811  110
      Yes   24   55
[1] "error 0.0268"
[1] "=====seed = 14"
         real
predicted   No  Yes
      No  4833  110
      Yes   12   45
[1] "error 0.0244"
[1] "=====seed = 15"
         real
predicted   No  Yes
      No  4806  113
      Yes   23   58
[1] "error 0.0272"
[1] "=====seed = 16"
         real
predicted   No  Yes
      No  4808  116
      Yes   15   61
[1] "error 0.0262"
[1] "=====seed = 17"
         real
predicted   No  Yes
      No  4821  105
      Yes   20   54
[1] "error 0.025"
[1] "=====seed = 18"
         real
predicted   No  Yes
      No  4812  108
      Yes   30   50
[1] "error 0.0276"
[1] "=====seed = 19"
         real
predicted   No  Yes
      No  4816  111
      Yes   21   52
[1] "error 0.0264"
[1] "=====seed = 20"
         real
predicted   No  Yes
      No  4797  119
      Yes   25   59
[1] "error 0.0288"

Каждый раз получвется новый результат